& {
    .add-movie{
    color:black;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:0px;
    width:0px;
    overflow-y: hidden;
  }
  input {
    width:60%;
    height:40px;
    border-radius: 5px;
    margin: 5px;
    font-size: 1rem;
  }
  button {
  width:50%;
  height:40px;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
  }
}