& {
  &.add-movie{
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    & input {
      height:40px;
      border-radius: 5px;
      border:3px solid #8E0221;
      margin: 5px;
      font-size: 1rem;
      width:95%;
    }
    & button {
    height:40px;
    border-radius: 5px;
    border: 3px solid #8E0221;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    }
  }
}