{{input value=title placeholder='title' required=true}}

{{input value=description placeholder='description' required=true}}

{{input value=image placeholder='image' required=true}}

<button type="submit">Add Movie</button>